@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</p>
  <button type="submit">Add Engineer</button>
}
