@{
  Layout = "_Layout";
}

@using Factory.Models

@if (Model[0].Count == 0)
{
  <p>There are no engineers</p>
}
@if (Model[0].Count > 0)
{
  @foreach(Engineer engineer in Model[0])
  {
    <li>@engineer.Name</li>
  }
}

@if (Model[1].Count == 0)
{
  <p>There are no machines</p>
}

@if (Model[1].Count > 0)
{
  @foreach(Machine machine in Model[1])
  {
    <li>@machine.Name</li>
  }
}

@Html.ActionLink("Add An Engineer", "Create", "Engineers")<br>
@Html.ActionLink("Add A Machine", "Create", "Machines")